<footer>
  <div class="footer-top blue-back">
    <div class="container">
      <div class="col-2-equals">
        <div class="col">
          <a href="https://ccq.ec/" target="_blank">
            <img src="assets/03-logo-camara-blanco.png" alt="Cámara comercio Quito" class="img-center">
          </a>
        </div>
        <div class="col">
          <a href="https://todosmascerca.com" target="_blank">
            <img src="assets/03-logo-tmc-blanco.png" alt="Todos más cerca" class="img-center">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="col-2-equals">
        <div class="col">
          <h5 class="blue center ">
            #TodosMásCerca
          </h5>
        </div>
        <div class="col">
          <div class="redes-container-out">
            <div class="redes-container-in">
              <a href="https://www.instagram.com/todosmascerca/">
                <img src="assets/04-icon-ig.png" alt="">
              </a>
              <a href="https://www.facebook.com/todosmascerca">
                <img src="assets/04-icon-fb.png" alt="">
              </a>
              <a href="https://www.linkedin.com/showcase/unavailable/">
                <img src="assets/04-icon-ld.png" alt="">
              </a>
              <a href="http://api.whatsapp.com/send?phone=593995679002&text=Deseo%20más%20información%20sobre%20sus%20productos" class="only-mobile">
                <img src="assets/04-icon-ws.png" alt="">
              </a>
              <a href="https://web.whatsapp.com/send?phone=593995679002&text=Deseo%20más%20información%20sobre%20sus%20productos" class="only-desktop">
                <img src="assets/04-icon-ws.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
